mixin FilterItems(props)
	//- # ПОДКЛЮЧЕНИЕ ДЛЯ ПРОВЕРОК DATA, OPT, ELEM # -//
	include ../../shared/helpers/pug/shortcut-check-store

	//- # ПОЛУЧЕНИЕ CSS КЛАССОВ КОМПОНЕНТА # -//
	include FilterItems.cn.pug
	- const styles = classes(props && props.cn);

	//- # ВЕРСТКА КОМПОНЕНТА # -//
	section(class=styles.block data-id-component="testId")
		+BreadCrumbs(ELEM('BreadCrumbs'))(class=styles.elementBreadCrumbsHeading)
		div(class=styles.elementFilterWrapper)
			button(class=styles.elementSortBtn)
				+Sprite('sort')(class=styles.elementBtnIcon)
				+Text({ data: { tag: 'span', text: 'По умолчанию' }, cn: { size: 'body-l-m' } })
			button(class=styles.elementFilterBtn)
				+Sprite('filter')(class=styles.elementBtnIcon)
				+Text({ data: { tag: 'span', text: 'Фильтр' }, cn: { size: 'body-l-m' } })
		div(class=styles.elementChipsWrapper)
			for item in ELEM_ARR('ChipsArr')
				include ../../shared/helpers/pug/shortcut-check-store
				+Chips(item)
		div(class=styles.elementSortWrapper)
			div(class=styles.elementSortWrapperBackground)
			div(class=styles.elementSortSelectWrapper)
				+SortSelect(ELEM('SortSelect'))&attributes({
					SortSelect: { class: styles.elementSortSelect },
					SortSelectBody: { class: styles.elementSortSelectBody },
					SortSelectList: { class: styles.elementSortSelectList }
				} )
			button(class=[styles.elementBtnClear, 'd-none@md'])
				+Sprite('close')(class=styles.elementBtnClearIcon)
				+Text({ data: { tag: 'span', text: 'Сбросить фильтры' }, cn: { size: 'button-l' } })
		div(class=styles.elementTagsWrapper)
			button(class=[styles.elementBtnChipsTags, 'd-none'])
				+Text({ data: { tag: 'span', text: 'Все' }, cn: { size: 'body-m-m' } })
				+Sprite('arrow-down')(class=styles.elementBtnChipsTagsIcon)
		+CardProductList(ELEM('CardProductList'))(class=styles.elementFilterContent data-more-container=true)
			div(class=styles.elementPaginationWrapper)
				+Button(ELEM('LoadMoreButton'))&attributes({ Button: { "data-load-more-button": true } })
				+Pagination(ELEM('Pagination'))

		template(data-template="template-chips-tag")
			+ChipsTag({ data: { text: 'Торговая марка: ARO ' } })
