mixin ItemSidebar(props)
	//- # ПОДКЛЮЧЕНИЕ ДЛЯ ПРОВЕРОК DATA, OPT, ELEM # -//
	include ../../shared/helpers/pug/shortcut-check-store

	//- # ПОЛУЧЕНИЕ CSS КЛАССОВ КОМПОНЕНТА # -//
	include ItemSidebar.cn.pug
	- const styles = classes(props && props.cn);

	//- # ВЕРСТКА КОМПОНЕНТА # -//
	div(class=styles.block)
		div(class=styles.elementBody)
			picture
				source(srcset=DATA('imgWebp'))
				img(class=styles.elementImg src=DATA('img') alt="text")
			+Text(ELEM('Text'))
		div(class=styles.elementList)
			for item in DATA_ARR('linkArr')
				include ../../shared/helpers/pug/shortcut-check-store
				a(href=I_DATA('href') target="_blank" class=styles.elementLink) !{I_DATA('text')}
