mixin ModalProduct(props)
	//- # ПОДКЛЮЧЕНИЕ ДЛЯ ПРОВЕРОК DATA, OPT, ELEM # -//
	include ../../shared/helpers/pug/shortcut-check-store

	//- # ПОЛУЧЕНИЕ CSS КЛАССОВ КОМПОНЕНТА # -//
	include ModalProduct.cn.pug
	- const styles = classes(props && props.cn);

	//- # ВЕРСТКА КОМПОНЕНТА # -//
	+Modal(ELEM('Modal'))(class=styles.block data-id-component="modal-product-component")
		+ModalBody(class=styles.elementModalBody)
			+Container(class=styles.elementContainer)
				+Row(class=styles.elementMainRow)
					+Col({ cn: { cols: 'col-36 col-12@md' } })(class=styles.elementMainCol)
						+Row(class=styles.elementInnerRow)
							+Col({ cn: { cols: 'col-15 col-12@md', offset: 'offset-1 offset-0@md' } })(class=styles.elementInnerCol)
								+Slider
									for item in ['./assets/img/features/modal-product/slide-1.png', './assets/img/features/modal-product/slide-2.png']
										+SliderSlide
											+Image({src: item})
								+CardProductHeading(ELEM('CardProductHeading'))(class=styles.elementCardProductHeading)
							+Col({ cn: { cols: 'col-12', offset: 'offset-1'} })(class=styles.elementInnerCol)
								div(class=styles.elementWrapCloseButton)
									+ModalCloseButton(class=styles.elementCloseButton)
								div(class=styles.elementModalCard)
									+CardPrice(ELEM('CardPrice'))&attributes({Tags: {class: styles.elementCardPriceTag}})
									div(class=styles.elementDescription)
										+HiddenText(ELEM('HiddenText'))
										+HiddenList(ELEM('HiddenList'))
