mixin CatalogItem(props)
	//- # ПОДКЛЮЧЕНИЕ ДЛЯ ПРОВЕРОК DATA, OPT, ELEM # -//
	include ../../shared/helpers/pug/shortcut-check-store

	//- # ПОЛУЧЕНИЕ CSS КЛАССОВ КОМПОНЕНТА # -//
	include CatalogItem.cn.pug
	- const styles = classes(props && props.cn);

	//- # ВЕРСТКА КОМПОНЕНТА # -//
	div(class=styles.block data-category=DATA('dataCategory', false))&attributes(attributes)
		div(class=styles.elementBody)
			picture
				source(srcset=DATA('imgWebp'))
				img(class=styles.elementImg src=DATA('img') alt="")
			div(class=styles.elementContent)
				+Text(ELEM('Text'))
				+Sprite('arrow-right')(class=styles.elementIcon)
		div(class=styles.elementList)
