mixin ButtonShowMore(props)
	//- # ПОДКЛЮЧЕНИЕ ДЛЯ ПРОВЕРОК DATA, OPT, ELEM # -//
	include ../../shared/helpers/pug/shortcut-check-store

	//- # ЛОГИКА КОМПОНЕНТА # -//
	-
		const DATA_HIDDEN_TEXT = DATA('dataHideText', false) || 'Скрыть';

	//- # ПОЛУЧЕНИЕ CSS КЛАССОВ КОМПОНЕНТА # -//
	include ButtonShowMore.cn.pug
	- const styles = classes(props && props.cn);

	//- # ВЕРСТКА КОМПОНЕНТА # -//
	button(class=styles.block data-hide-text=DATA_HIDDEN_TEXT type="button")&attributes(attributes)
		+Text({cn: {size: 'caption'}})(class=styles.elementText) !{DATA('text')}
		+Sprite('arrow-down')(class=styles.elementIcon)
