mixin CardOrder(props)
	//- # ПОДКЛЮЧЕНИЕ ДЛЯ ПРОВЕРОК DATA, OPT, ELEM # -//
	include ../../shared/helpers/pug/shortcut-check-store

	//- # ПОЛУЧЕНИЕ CSS КЛАССОВ КОМПОНЕНТА # -//
	include CardOrder.cn.pug
	- const styles = classes(props && props.cn);

	//- # ВЕРСТКА КОМПОНЕНТА # -//
	a(class=styles.block href="/lk-order-detailed")
		div(class=styles.elementHeader)
			+Text(ELEM('TextDate'))
			div(class=styles.elementHeaderBottomText)
				+Text(ELEM('TextPrice'))
				+Text(ELEM('TextAddress'))
		div(class=styles.elementOrderPictures)
			for item in DATA_ARR('CardOrderHistoryPictureArr')
				include ../../shared/helpers/pug/shortcut-check-store
				+Image({ src: I_DATA('img') })(Picture={ class: styles.elementPicture } Image={ class: styles.elementImage })
			div(class=styles.elementPicture)
				+Text({ data: { text: '+2' }, cn: { color: 'gray' } })
