mixin BannerVideo(props)
	//- # ПОДКЛЮЧЕНИЕ ДЛЯ ПРОВЕРОК DATA, OPT, ELEM # -//
	include ../../shared/helpers/pug/shortcut-check-store

	//- # ПОЛУЧЕНИЕ CSS КЛАССОВ КОМПОНЕНТА # -//
	include BannerVideo.cn.pug
	- const styles = classes(props && props.cn);

	//- # ВЕРСТКА КОМПОНЕНТА # -//
	div(class=styles.block)
		picture
			source(srcset=DATA('imageXs') media=`(max-width: ${media.xs})`)
			img(class=styles.elementImage src=DATA('image') alt="карточка видео")
		+Text(ELEM('TextBig'))
		+Button(ELEM('Button'))&attributes({Button: {class: styles.elementButton}})
		+Text(ELEM('TextSmall'))
