mixin MenuLk(props)
	//- # ПОДКЛЮЧЕНИЕ ДЛЯ ПРОВЕРОК DATA, OPT, ELEM # -//
	include ../../shared/helpers/pug/shortcut-check-store

	//- # ПОЛУЧЕНИЕ CSS КЛАССОВ КОМПОНЕНТА # -//
	include MenuLk.cn.pug
	- const styles = classes(props && props.cn);

	//- # ВЕРСТКА КОМПОНЕНТА # -//
	aside(class=styles.block)
		div(class=styles.elementHeader)
			+Text({ data: { text: 'Личный кабинет' }, cn: { size: 'body-h2' } })
			+Button({
				data: { icon: 'close' },
				cn: { type: 'circle' }
			})&attributes({ Button: { class: styles.elementMenuCloseButton } })
		div(class=styles.elementMenu)
			for item, pos in [{data: {text: 'Профиль', href: '/lk'}}, {data: {text: 'Ваши компании', href: '/lk-your-company'}}, {data: {text: 'История заказов', href: '/lk-orders-history'}}]
				//- # ПОДКЛЮЧЕНИЕ ДЛЯ ПРОВЕРОК I_DATA, I_OPT, I_ELEM # -//
				include ../../shared/helpers/pug/shortcut-check-store
				-
					const linkClass = [styles.elementMenuButton]
					if (pos === 0)
						linkClass.push('menu-lk__menu-button_active')
				a(class=linkClass href=I_DATA('href'))
					span #{I_DATA('text')}
					+Sprite('arrow-right')(class=styles.elementMenuArrow)

		div(class=styles.elementFooter)
			+Button({
				data: { text: 'Служба поддержки' },
				cn: { type: 'text', width: 'w-100@md' }
			})(Button = {'data-modal-form': 'modal-feedback'})
			+Button({ data: { text: 'Выйти', href: '#!' }, cn: { type: 'text', width: 'w-100@md' } })
