mixin MASignUp(props)
	//- # ПОДКЛЮЧЕНИЕ ДЛЯ ПРОВЕРОК DATA, OPT, ELEM # -//
	include ../../../../shared/helpers/pug/shortcut-check-store

	//- # ПОЛУЧЕНИЕ CSS КЛАССОВ КОМПОНЕНТА # -//
	include MASignUp.cn.pug
	- const styles = classes(props && props.cn);

	//- # ВЕРСТКА КОМПОНЕНТА # -//
	div(class=styles.block)&attributes(attributes)
		+Heading(ELEM('Heading'))(class=styles.elementHeading)
		+Tabs
			+TabsButtons(ELEM('TabsButtons'))(class=styles.elementTabsButtons)
			+TabsBody
				for item in ELEM_ARR('TabsContentArr')
					include ../../../../shared/helpers/pug/shortcut-check-store
					+TabsContent(item)
						form(class=styles.elementForm novalidate method="post" action="/auth" data-url-code="/code" data-url-code-resend="/auth")
							div(class=styles.elementFormContent)
								div(class=styles.elementInputBlock)
									for item in I_DATA_ARR('firstInputsArr')
										include ../../../../shared/helpers/pug/shortcut-check-store
										if I_OPT('inn')
											+InputInn(item)(class=styles.elementInput)
										else
											+Input(item)(class=styles.elementInput)
								div(class=styles.elementInputBlock)
									for item in I_DATA_ARR('secondInputsArr')
										include ../../../../shared/helpers/pug/shortcut-check-store
										if I_OPT('inn')
											+InputInn(item)(class=styles.elementInput)
										else
											+Input(item)(class=styles.elementInput)
								+Button(I_ELEM('Button'))&attributes({Button: {class: styles.elementButton}})
		+Button(ELEM('ButtonLogin'))&attributes({Button: {class: [styles.elementButton, 'js-login']}})
		+Text(ELEM('TextCaption'))(class=styles.elementCaption)
