mixin ModalBuyInOne(props)
	//- # ПОДКЛЮЧЕНИЕ ДЛЯ ПРОВЕРОК DATA, OPT, ELEM # -//
	include ../../shared/helpers/pug/shortcut-check-store

	//- # ПОЛУЧЕНИЕ CSS КЛАССОВ КОМПОНЕНТА # -//
	include ModalBuyInOne.cn.pug
	- const styles = classes(props && props.cn);

	//- # ВЕРСТКА КОМПОНЕНТА # -//
	+Modal(ELEM('Modal'))(class=styles.block)
		+ModalBody(class=styles.elementModalBody)
			+ModalCloseButton(class=styles.elementModalClose)
			div(class=styles.elementContent)
				div(class=styles.elementOrder)
					div(class=styles.elementOrderHeader)
						+Heading({
							data: { tag: 'p', text: 'Оформить заказ' },
							cn: { size: 'h2', textAlign: 'text-align-center' }
						})(class=styles.elementHeading)
						+Text({
							data: { tag: 'span', text: 'На сумму 123' },
							cn: { size: 'body-m-m', textAlign: 'text-align-center' }
						})(class=styles.elementText)
					form(method="post" action="/create-order")
						div(class=styles.elementFormContent)
							+Input(ELEM('InputName'))
							+Input(ELEM('InputPhone'))
							+Button({
								data: { type: 'submit', text: 'Оформить заказ' },
								cn: { width: 'w-100' },
								opt: { disabled: true }
							})&attributes({ Button: { class: styles.elementButton } })
				div(class=[styles.elementSuccess, 'd-none'])
					+Heading(ELEM('HeadingSuccess'))
					+Text(ELEM('TextSuccess'))(class=styles.elementText)
					+Button(ELEM('ButtonSuccess'))&attributes({ Button: { class: styles.elementButton } })
				div(class=[styles.elementError, 'd-none'])
					+Heading(ELEM('HeadingError'))(class=styles.elementErrorHeading)
					+Button(ELEM('ButtonError'))&attributes({ Button: { class: styles.elementBackButton } })
