//- # ЛОГИКА КОМПОНЕНТА # -//
-
	CardProductId = 1;
	CallCount = 0;

mixin CardProduct(props)
	//- # ПОДКЛЮЧЕНИЕ ДЛЯ ПРОВЕРОК DATA, OPT, ELEM # -//
	include ../../shared/helpers/pug/shortcut-check-store

	//- # ПОЛУЧЕНИЕ CSS КЛАССОВ КОМПОНЕНТА # -//
	include CardProduct.cn.pug
	- const styles = classes(props && props.cn);

	//- # ВЕРСТКА КОМПОНЕНТА # -//
	a(class=styles.block href="/catalog/product/14" data-card-id=`${CallCount > 1 ? CardProductId : 1}`)&attributes(attributes)
		div(class=styles.elementBody)
			div(class=styles.elementActions)
				+Tags(ELEM('Tags'))
				+Sprite(DATA('icon', false))(class=styles.elementFavorites)
			img(class=styles.elementImg src=DATA('img') alt="Карточка продукта")
		div(class=styles.elementInfo)
			+Text(ELEM('TextName'))
			+Text(ELEM('TextWeight'))
		if OPT('withCounter')
			+CardProductCounter(ELEM('CardProductCounter'))
	-
		CardProductId++
		CallCount++;
