mixin BannerPromo(props)
	//- # ПОДКЛЮЧЕНИЕ ДЛЯ ПРОВЕРОК DATA, OPT, ELEM # -//
	include ../../shared/helpers/pug/shortcut-check-store

	//- # ПОЛУЧЕНИЕ CSS КЛАССОВ КОМПОНЕНТА # -//
	include BannerPromo.cn.pug
	- const styles = classes(props && props.cn);

	//- # ВЕРСТКА КОМПОНЕНТА # -//
	div(class=styles.block data-card-id="1")
		div(class=styles.elementImageWrap)
			+Text({cn: {size: 'body-h4', padding: 'pl-20 pl-16@lg pt-20 pt-16@lg pt-10@xs', textAlign: 'text-align-center@xs'}}) !{DATA('title')}
			img(src=DATA('image') alt="" class=styles.elementImage)
		div(class=styles.elementInfo)
			div(class=styles.elementPromoTime data-time-until-end="2024-05-14T09:00")
				- let n = 0
				- let arr = ['дн', 'час', 'мин', 'сек']
				while n < 4
					div(class=styles.elementPromoTimeBlock)
						+Text({cn: {size: 'caption'}, data: {tag: 'span'}})(class=styles.elementPromoTimeBlockValue) --
						+Text({cn: {size: 'caption'}, data: {tag: 'span'}})(class=styles.elementPromoTimeBlockKey) !{arr[n]}
					- n++
			div(class=styles.elementDescription)
				+Text({cn: {size: 'body-m-m', margin: 'mt-auto mb-8'}}) !{DATA('text')}
				+Text(class=styles.elementWeight) !{DATA('weight')}
				+CardProductCounter(ELEM('CardProductCounter'))(Counter = {class: styles.elementCounter} FooterButton = {class: styles.elementFooterButton} FooterButtonPlus={class: 'sdsdsd1'})
