| !{HTMLComment('# ПОДКЛЮЧЕНИЕ СSS ДЛЯ COMPONENTS #')}
//mixin link(path, name)
//	link(rel="stylesheet" href= (isWebpack ? `${path}/${name}/${name}.scss` : `./assets/css/${name}.css`))/
//
//mixin script(path, name, namePage)
//	script(src= (isWebpack ? `${path}/${namePage || name}/${name}.ts` : `./assets/js/${name}.js`) defer)
link(href="/widgets/Footer/Footer.scss" rel="stylesheet")/
link(href="/widgets/Header/Header.scss" rel="stylesheet")/
//+link('COMPONENTS', 'CardBig')
//+link('COMPONENTS', 'CardProduct')
//+link('COMPONENTS', 'CardMedium')
//+link('COMPONENTS', 'CardSmall')
//+link('COMPONENTS', 'CartItem')
//+link('COMPONENTS', 'ItemSidebar')
//+link('COMPONENTS', 'ButtonAddress')
//+link('COMPONENTS', 'ButtonCart')
//+link('COMPONENTS', 'BannerSmall')
//+link('COMPONENTS', 'CardProductCounter')
//+link('COMPONENTS', 'BannerPromo')
//+link('COMPONENTS', 'BannerVideo')
//+link('COMPONENTS', 'CardProductList')
//+link('COMPONENTS', 'CardPrice')
//+link('COMPONENTS', 'HiddenText')
//+link('COMPONENTS', 'HiddenList')
//+link('COMPONENTS', 'ButtonShowMore')
//+link('COMPONENTS', 'Map')

//| !{HTMLComment('# ПОДКЛЮЧЕНИЕ СSS ДЛЯ SECTIONS #')}
//| !{HTMLComment('## Секция Zone не содержит компонентов ##')}
//+link('SECTIONS', 'Zone')
//| !{HTMLComment('## Секция MainBanners содержит компоненты: CardMedium, BannerVideo ##')}
//| !{HTMLComment('## Секция SmallBanners содержит компоненты: BannerSmall ##')}
//+link('SECTIONS', 'SmallBanners')
//| !{HTMLComment('## Секция Promo содержит компонент BannerPromo, CardSmall ##')}
//| !{HTMLComment('## Секция Like содержит компонент CardProduct ##')}
//
//+link('SECTIONS', 'ModalProduct')
//+link('SECTIONS', 'ModalMap')
//+link('SECTIONS', 'ModalMapStatic')
//+link('SECTIONS', 'ModalAuth')
//+link('SECTIONS', 'ModalBuyInOne')
