mixin Pagination(props)
	//- # ПОДКЛЮЧЕНИЕ ДЛЯ ПРОВЕРОК DATA, OPT, ELEM # -//
	include ../../../shared/helpers/pug/shortcut-check-store

	//- # ЛОГИКА КОМПОНЕНТА # -//
	- const PaginationButtonCount = ELEM_ARR('PaginationButtonArr').length

	//- # ПОЛУЧЕНИЕ CSS КЛАССОВ КОМПОНЕНТА # -//
	include Pagination.cn.pug
	- const styles = classes(props && props.cn);

	//- # ВЕРСТКА КОМПОНЕНТА # -//
	div(class=styles.block)&attributes(attributes)
		for item, pos in ELEM_ARR('PaginationButtonArr')
			include ../../../shared/helpers/pug/shortcut-check-store
			if pos < 5
				a(class=styles.blockLink href=item.data.href)
					+Text(I_ELEM('Text'))
			else if pos === PaginationButtonCount - 1
				a(class=styles.blockLink href=item.data.href)
					+Text(I_ELEM('Text'))
			if pos === 5
				div(class=styles.blockLink)
					+Text({ data: { text: '...' }, cn: { size: 'body-l-m', color: 'gray' } })
