mixin FilterRange(props)
	//- # ПОДКЛЮЧЕНИЕ ДЛЯ ПРОВЕРОК DATA, OPT, ELEM # -//
	include ../../shared/helpers/pug/shortcut-check-store

	//- # ПОЛУЧЕНИЕ CSS КЛАССОВ КОМПОНЕНТА # -//
	include FilterRange.cn.pug
	- const styles = classes(props && props.cn);

	//- # ВЕРСТКА КОМПОНЕНТА # -//
	div(class=styles.block)&attributes(attributes.FilterRange)
		div(class=styles.elementBody)&attributes(attributes.FilterBody)
			+Text({ data: { tag: 'span', text: DATA('text')}})
			+SVGUse('arrow-down')(class=styles.elementIcon)
		div(class=styles.elementList)&attributes(attributes.FilterList)
			div(class=styles.elementAnimation)
				div(class=styles.elementInputWrapper)
					div(class=styles.elementInputBox)
						input(class=styles.elementInput type="number" name="inputFrom" min="0" max="1000" data-input-name="inputFrom")
						+Text({data: { tag: 'span', text: 'от', },cn: {color: 'gray'}
						})(class=styles.elementLabel)
					div(class=styles.elementInputBox)
						input(class=styles.elementInput type="number" name="inputTo" min="0" max="1000" data-input-name="inputTo")
						+Text({data: { tag: 'span', text: 'до', }, cn: { color: 'gray'}})(class=styles.elementLabel)
				div(class=styles.elementRangeSlider)
