mixin MACode(props)
	//- # ПОДКЛЮЧЕНИЕ ДЛЯ ПРОВЕРОК DATA, OPT, ELEM # -//
	include ../../../../shared/helpers/pug/shortcut-check-store

	//- # ПОЛУЧЕНИЕ CSS КЛАССОВ КОМПОНЕНТА # -//
	include MACode.cn.pug
	- const styles = classes(props && props.cn);

	//- # ВЕРСТКА КОМПОНЕНТА # -//
	div(class=styles.block)&attributes(attributes)
		+Heading(ELEM('Heading'))(class=styles.elementHeading)
		+Text(ELEM('Text'))(class=styles.elementText)
		+InputOtp(ELEM('InputOtp'))(class=styles.elementInputOtp)
		+Button(ELEM('Button'))&attributes({Button: {class: [styles.elementButton, 'js-resend']}})
		+Button(ELEM('ButtonHelp'))&attributes({Button: {class: styles.elementButton}})
		+Text(ELEM('TextCaption'))(class=styles.elementCaption)
